@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }
}

.animate-shake {
    animation: shake 0.3s ease-in-out;
}

/* Opcional: estilos globales */
body {
    @apply bg-gray-100 text-gray-900;
}

.container {
    @apply max-w-7xl mx-auto p-4;
}